 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 body {
   width: 100%;
   height: 100vh;
   background-color: rgb(57, 53, 53);
   display: flex;
   justify-content: center;
   align-items: center;

 }


 .main {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space: nowrap;
   overflow-x: scroll;
   overflow: hidden;
   background-color: #302e2e;
   white-space: nowrap;
   overflow: hidden;
   overflow-x: scroll;
   padding: 15px 10px;
   color: #f5f5f5;
   justify-content: space-between;
   padding: 0px 40px;
   flex-wrap: wrap;

 }

 .main::-webkit-scrollbar {
   overflow-x: hidden;
 }

 .product-card {
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   max-width: 300px;
   height: 460px;
   text-align: center;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;


 }

 .product-image{
   width: 100%;
   height: 150px;
   border-bottom: 1px solid #ddd;
 }
 .product-image img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-bottom: 1px solid #ddd;
 }

 .product-details {
   padding: 15px;
 }

 .product-title {
   font-size: 1.5em;
   margin: 0.5em 0;
   color: #000;
 }

 .product-description {
   font-size: 1;
   color: #666;
   margin: 0.5em 0;
   text-wrap: wrap;
 }

 .product-price {
   font-size: 1.25em;
   color: #333;
   margin: 1em 0;
 }

 .buy-now-button {
   background-color: #28a745;
   color: #fff;
   border: none;
   padding: 10px 20px;
   font-size: 1em;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
   margin-top: -10px;
 }

 .buy-now-button:hover {
   background-color: #218838;
 }

 @media  (min-width: 300px) and (max-width : 500px){
  .main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    overflow: hidden;
    background-color: #302e2e;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    padding: 15px 10px;
    color: #f5f5f5;
    justify-content: space-between;
    padding: 0px 40px;
    flex-wrap: wrap;
 
  }
  .product-card {
    margin-bottom: 20px;
  }
 }